@import 'normalize.css';


body{
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template: 20vh repeat(2, 1fr) / repeat(5, 1fr);
    background-color: #202020;
}

img[src$=".svg"]{
  width: 20px;
  height: 20px;
  color: white;
}


img{
    width: 30px;
    height:30px
}

ul>li{
    list-style: none;

}

.drop-down-menu{
    grid-area : 1 /1 /4 / 2;
     height: 100vh; 
    background-color: #0080ff;
}

.navigation-menu-bar{
   grid-area : 1 /2 /2 / 6; 
   background-color: hsl(51, 100%, 50%);
   display: grid;
   grid-template-columns: auto 18rem;
   grid-template-rows: 10vh 10vh;
}

.navigation-menu-bar #search{
    width: 70%;
    border: 1px solid black;
}
.header-nav-bar{
    grid-area: 1/1/2/3;
    display: flex;
     border: 1px solid rgb(199, 31, 31);
}
.navigation-menu-bar .name-icon{
    grid-area: 2/1/3/2;
    display:flex;
     background-color: #b7785b;
      justify-content: center;
    align-items: center;
}
.navigation-menu-bar .more-info-buttons{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-menu-bar .more-info-buttons button{
    height: 2rem;
    width: 4rem;
    font-size: 12px;
    background-color: #0080ff;
    border-radius:15px;
    color: white;
    margin-left: 1.5em;
    border: none;
}
/* .header-nav-bar #name-div>ul:last-child{
    display: flex;
} */
.navigation-menu-bar .more-info-buttons{
    grid-area: 2/ 2/ 3/ 3 ;
}
input{
    width: 80%;
    border-radius: 3px;
    border: none;
}
.header-nav-bar div ul{
 display: flex;
 justify-content: space-around;
}
.main-content{
    grid-area: 2 /-5 /4/-2;
    background-color: #00bfff;
}
.main-content div#container{
    display: grid;
    grid-template:repeat(3, 1fr)/repeat(3, 1fr) ;
}
.side-bar{
    grid-area: 2/ 5/ 4 / 5;
   
     background-color: #b05bb7;
}

.item{
    background-color: #202020;
    border-left:5px solid pink;
    border-radius: 7px;
    color: white;
    height: 25vh;
    width: 25vh;
    margin: 10px;
}

.item .icons{
    display: flex;
    color: white;
}