@import 'normalize.css';


body{
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template: 20vh repeat(2, 1fr) / repeat(5, 1fr);
    background-color: #3c3c3c;
}

svg.icons{
  width: 24px;
  height: 24px;
  fill:white;
  margin-right: 10px;
}


img{
    width: 40px;
    height:40px;
    border-radius: 50%;
}

ul>li{
    list-style: none;

}

.drop-down-menu{
    grid-area : 1 /1 /4 / 2;
     height: 100vh; 
    background-color: #0080ff;
}

.navigation-menu-bar{
    background-color: #202020;
   grid-area : 1 /2 /2 / 6; 
   display: grid;
   grid-template-columns: auto 18rem;
   grid-template-rows: 10vh 10vh;
}

.navigation-menu-bar #search{
    width: 70%;
    display: flex;
    align-items: center;

}
.header-nav-bar{
    grid-area: 1/1/2/3;
    display: flex;
     border: 3px solid rgb(199, 31, 31);
    
}
.navigation-menu-bar .name-icon{
    grid-area: 2/1/3/2;
    display:flex;
    justify-content: start;
    align-items: center;
}
.navigation-menu-bar .more-info-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-menu-bar .more-info-buttons button{
    height: 2rem;
    width: 4rem;
    font-size: 12px;
    background-color: #0080ff;
    border-radius:15px;
    color: white;
    margin-left: 1.5em;
    border: none;
}
/* .header-nav-bar #name-div>ul:last-child{
    display: flex;
} */
.navigation-menu-bar .more-info-buttons{
    grid-area: 2/ 2/ 3/ 3 ;
}
input{
    width: 80%;
    border-radius: 10px;
    border: none;
    height: 25px;
}
.header-nav-bar div ul{
 display: flex;
 justify-content: space-around;
}
.main-content{
    grid-area: 2 /-5 /4/-2;
    color: white;
}
.main-content div#container{
    display: grid;
    grid-template:repeat(3, 1fr)/repeat(3, 1fr) ;
}
.side-bar{
    grid-area: 2/ 5/ 4 / 5;
    background-color: #b05bb7;
}

.item{
    background-color: #202020;
    border-left:5px solid pink;
    border-radius: 7px;
    color: white;
    height: 25vh;
    width: 30vh;
    margin: 10px;
}
.item p{
    margin: 0;
    height: 6rem;
    overflow: hidden;
    font-family: 'DancingScriptRegular';
   font-weight: normal;
   font-style: normal;
}
.item h5{
    margin: 0;
    padding: 4px 2px;
    font-size: medium;
}
.item .icons{
    display: flex;
    justify-content: end;  
}
#name-div ul>#name-div-profile{
    display:flex;
    align-items: center;
    color: white;
}

.name-icon ul{
    display: flex;
    color: white;
    justify-content:space-around;
    align-items: center;
    width: 16rem;
}

.name-icon ul li p{
    margin: 0%;
    padding: 0;
}

div#trending{
    color: white;
}
div#trending ul li{
    display: flex;
}